/* GLOBAL CONFIGURATIONS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/img/modern-cpu-background-with-linear-style/472447-PGQJEW-695.jpg");
  background-attachment: fixed;
}

.titleBox {
  border-style: solid;
  border-color: #b6c7d6;
  background-color: #eaf0f6;
  height: fit-content;
  max-width: 800px;
  margin: 2%;
  padding: 5px;
}

.H1text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
}

/* HEADER CONFIGURATIONS */

.topMenu{
  font-family: "Roboto", sans-serif;
}

.topMenu:hover {
  color: rgb(150, 238, 238);
  background-color: #55687a;
}

/* FOOTER CONFIGURATIONS */

.copyright {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  margin: 5px;
}

.socialBar .icon {
  width: 30px;
  height: auto;
  margin: 5px;
}

/* END GLOBAL CONFIGURATIONS */


/* INDEX CONFIGURATIONS */

.startBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  background-color: #e7e7e7;
  color: black;
  padding: 20px 40px;
  text-align: center;
  border-style: groove;
  border-color: #b6c7d6;
  border-radius: 5px;
}

.startBtn:hover {
  color: rgb(150, 238, 238);
  background-color: #4c5d6e;
}


/* PRE-BUILDS 1-4 CONFIGURATIONS */

.textCol {
  background-color: #e7e7e7cf;
}

.textCol h1 {
  font-family: "Radio Canada", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.textCol p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  padding-top: 10px;
}


.box-img img{
  border-radius: 25%;
}

.box-info {
  width: 50%;
  margin: 0 auto;
  height: auto;
  background-color: #eaf0f6;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
