/* GLOBAL */
/* $h1font: ;
$pfont: ;
$descfont: ; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  background-image: url("../assets/img/modern-cpu-background-with-linear-style/472447-PGQJEW-695.jpg");
  background-attachment: fixed; }

/* HEADER */
.topMenu {
  font-family: "Roboto", sans-serif; }

.topMenu:hover {
  color: #96eeee;
  background-color: #4c5d6e; }

/* FOOTER */
.copyright {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  margin: 5px; }

.socialBar .icon {
  width: 30px;
  height: auto;
  margin: 5px; }

.titleBox {
  border-style: solid;
  border-color: #b6c7d6;
  background-color: #eaf0f6;
  height: fit-content;
  width: fit-content;
  margin: 2%;
  padding: 5px; }
  .titleBox h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem; }

.H1text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem; }

.startBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 42px;
  background-color: #eaf0f6;
  color: black;
  padding: 20px 40px;
  text-align: center;
  border-style: groove;
  border-color: #b6c7d6;
  border-radius: 5px; }
  .startBtn:hover {
    color: #96eeee;
    background-color: #4c5d6e; }

.textCol {
  background-color: #e7e7e7cf; }
  .textCol h1 {
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 58px; }
  .textCol p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 10px; }

.box-img img {
  height: auto;
  width: 75%;
  border-radius: 30%; }

.box-info {
  width: fit-content;
  height: auto;
  background-color: #eaf0f6;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 5px; }

.col-pick {
  background-color: #eaf0f6;
  border-color: #b6c7d6;
  border-style: solid;
  padding: 5px; }
  .col-pick img {
    height: auto;
    width: 50%;
    border-radius: 50%; }
  .col-pick h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    font-size: 1.5rem; }
  .col-pick p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem; }
  .col-pick:hover {
    color: #96eeee;
    background-color: #4c5d6e; }

a {
  all: unset; }
  a:hover {
    all: unset; }
