.sendBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    height: fit-content;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 2rem;
    background-color: $bgcolor;
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-style: groove;
    border-color: $brcolor;
    border-radius: 5px;
    &:hover{
        @include btn-hover;
    }
  }