
.textCol {
    background-color: #e7e7e7cf;
    h1{
        font-family: "Radio Canada", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 58px;
    }
    p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 10px;
    }
}
  
.box-img {
    img{
        height: auto;
        width: 75%;
        border-radius: 30%;
    }
}
  
.box-info {
    width: fit-content;
    height: auto;
    background-color: $bgcolor;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 5px;
}
